/* Configurações gerais */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  background-color: black;
  border-right: none;
  box-sizing: border-box;
  
}
.fundo {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  
}

/*imagem*/

.fundo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  
}
/*esta é a imagem, ajustavel*/
/* Cabeçalho */
header {
	background-color: #333;
	color: yellow;
	padding: 0px;
	text-align: center;
}

header .logo {
	margin-bottom: 10px;
  color: orange;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline-block;
	margin-right: 20px;
}

header nav a {
	color: #fff;
	text-decoration: none;
}

/* cardapio*/

.escopo1{
  
  color: yellow;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  
}

/* Conteúdo */
main {
	display: block;
	margin: 20px auto;
	padding: 20px;
	width: 80%;
}

/* Configurações gerais */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  background-color: black;
  
}
.fundo {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  
}

/*imagem*/

.fundo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  
}
/*esta é a imagem, ajustavel*/
/* Cabeçalho */
header {
	background-color: #333;
	color: yellow;
	padding: 0px;
	text-align: center;
}

/* aqui acaba o cabeçalho*/

header .logo {
	margin-bottom: 10px;
  color: orange;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline-block;
	margin-right: 20px;
}

header nav a {
	color: #fff;
	text-decoration: none;
}

/* parte dois do cabeçalho acaba aqui*/

/* cardapio*/

.escopo1{
  
  color: yellow;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  
}

/* Conteúdo */
main {
	display: block;
	margin: 20px auto;
	padding: 20px;
	width: 80%;
}

/* Rodapé */
footer {
	background-color:#333;;
	color: red;
	padding: 10px;
  padding: top 10px;
	text-align: center;
	clear: both;
	position: relative;
	bottom: 0;
	width: 100%;
  font-family: italic;
}

footer p {
	margin-bottom: 2px;
  color:white;
  font-style:italic;
  font-size: 10px;
  
}

.pedido1 {
  
  color: yellow;
  font-size: 12px;
  
  
}

.pedido2 {
  
  color: yellow;
  font-size: 12px;
  
  
}

.pedido3 {
  
  color: yellow;
  font-size: 12px;
  
  
}

.pedido4 {
  
  color: yellow;
  font-size: 12px;
  
  
}

.pedido5 {
  
  color: yellow;
  font-size: 12px;
  
  
}

.pedido6 {
  
  color: yellow;
  font-size: 12px;
  text-decoration: none;
  
  
}

.pedido6 a{
  text-decoration: none;
  transition: 0.5s; cursor: pointer; background-color: red; width: 60px; height: 50px; margin: 20px;  border-radius: 0px;}

.container:hover:not(:hover) {opacity:.4; transform: scale(0.9);
}
.pedido6 a1{
  
  color: white;
  font-size: 10px;
  text-decoration: none;
  
}



/* rodapé dos adicionais*/

.adicionais{
  
  
  background-color: #1E90FF;
  padding:10px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  
  
}

.adicionais a{
  color:yellow;
  font-size: 20px;
}

.adicionais p{
  color: orangered;
  text-align: left;
}

.adicionais a2{
  color:yellow;
  font-size: 20px;
}

/* rodapé das batatas */

.batata {
  padding: 10px;
  background-color: red;
  color: yellow;
  font-style: italic;
  text-decoration: none;
  
}



.batata p{
  color: black;
  font-size : 15px;
  text-align: left;
} 

/* rodapé das bebidas*/

.bebidas{
  padding: 10px;
  background-color: black;
  color: red;
  text-align: center;
  
}

.bebidas a4{
  
  font-size: 15px;
  font-style: italic;
  color: #FFFF00
}

.bebidas a{
  
  font-size: 15px;
}

.bebidas h2{
  
  padding: 10px;
  color: red;
  text-align: center;
  
}

.cardapio h1{
  font-size: 20px;
  color: red;
  text-align: center;
  
}

.cardapio h2{
  font-size: 12px;
  color: white;
}

.bebidas a{
  font-size: 18px;
  color: red;
}

.boton {transition: 0.5s; cursor: pointer; background-color: yellow; width: 130px; height: 120px; margin: 50px; float: left; border-radius: 20px;}

.container:hover:not(:hover) {opacity:.4; transform: scale(0.9);}

.boton a{
  color: red;
  font-family: arial;
  font-size: 25px;
  text-decoration: none;
  
}

.pedir {transition: 0.5s; cursor: pointer; background-color: yellow; width: 100px; height: 100px; margin: 50px; float: left; border-radius: 20px;}

.container:hover:not(:hover) {opacity:.4; transform: scale(0.9);}

.boton c{
  color: red;
  font-family: arial;
  text-decoration: none;
  
}

.b9{
   
  font-family: arial;
  
  }